<div>Administrador |
 <%= link_to 'Adicionar cozinha', new_cuisine_path %> |
 <%= link_to 'Adicionar tipo de receita', new_recipe_type_path %> |
 <%= link_to 'Sair', destroy_user_session_path, method: :delete %></div>
